<form action="/subscriptions/new">
  <input name="plan_id" hidden="true" value="1">
    <input type="submit" value="admin plan">
    This is free plan
  
</form>
<br/><hr>

<form action="/subscriptions/new">
  <input name="plan_id" hidden="true" value="1">
    <input type="submit" value="basic plan">
    This is basic plan
  
</form>